
body{
    font-family: Lato;
    background-color: black;
    color: black;
    margin: 0;
    padding: 0;
    weight: 100%;
}

.link-color{
    color: blue;
}

.my-photo{
    border-radius: 100px;
}

.back-box{
    margin: 5% 5% 5% 5% ;
    background-color: white;
}