html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    word-break: normal;
    margin: 18px;
}

@media screen and (max-width: 500px){
    body {
        background-color: wheat;
        font-size: 0.8em;
    }

}
