body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(46, 46, 251);
    margin: 0;
    color: white;
    position: relative;

}
.body-title{
    color: black;
}

header {
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid black;
    background: white;
    color: black;
}

.first-title{
    float: left;
}

.navigation{
    text-align: right;
    line-height: 30px;
    margin: 25px;
}

.img-life{
    width: 150px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 100%;
    border: 2px solid white;
}
.margin-first-title{
    margin: 5px;
}

#life{
    text-align: center;
}

.background-1stpart{
    background-color: yellowgreen;
    padding-top: 100px;
}

.background-2ndpart{
    background-color: rgb(46, 46, 251);
    text-align: center;
    padding-top: 50px
}

#career{
    color: white;
}

.img-career{
    width: 150px;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20%;
    border: 2px solid white;    
}