.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

td:hover {
  background-color: rgb(235, 235, 235);
}
